@model ShopBanHang.Models.CTHDOnline

@{
    ViewBag.Title = "ChiTietDonHangOnline";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
   
<div class="row">
    <div class="col-md-4">
        @{ Html.RenderAction("ChiTietSanPham", "DonHang");}
    </div>
    <div class="col-md-6">
        @{ Html.RenderAction("KhachHang", "DonHang");}
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("GuiHang","DonHang",new { @id=Model.MaHD})">Gửi hàng </a>
    </div>
</div>
@ViewBag.result

