
@{
    ViewBag.Title = "TaoDonHangOffline";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@ViewBag.result
@if (ViewBag.result == "Vui lòng chọn khách hàng và sản phẩm")
{

}
else
{
    <div class="row">
        <div class="col-md-6">
            @{Html.RenderAction("KhachMuaHang", "DonHang");}
        </div>
        <div class="col-md-6">
            @{Html.RenderAction("PartialGioHang", "GioHang");}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("TaoDonHangOffline", "DonHang"))
            {
                <input type="submit" value="Mua hàng" />
            }
        </div>
    </div>
}

