@model ShopBanHang.Models.KhachHang

@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutTrangChuNewNoAd.cshtml";
}



<div style="width:50%;height:auto;">
    <h2 style="color: rebeccapurple;">Đăng Nhập Vào Tài Khoản Khách Hàng</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />



    <div class="form-group">
        Tài Khoản
        <div class="col-md-10">
            @Html.EditorFor(model => model.taiKhoan, new { htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>

    <div class="form-group">
        Mật Khẩu
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="matKhau" name="matKhau" type="password" value="">
        </div>
        <br />

    </div>
    <span style="color:red;">* @ViewBag.Error</span>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
        </div>
        @*<div class="col-md-offset-2 col-md-10">
                <span><a href="@Url.Action("Login","Admin")"> Đăng nhập bằng tài khoản hệ thống</a></span>
            </div>*@
        <div class="col-md-offset-2 col-md-10">
            Chưa có tài khoản? <span><a href="/dangKy">Đăng ký ngay</a></span>
        </div>
    </div>
</div>
    }
</div>


