@model ShopBanHang.Models.HDOff

@{
    ViewBag.Title = "TaoCTHDOff";
    Layout = "~/Views/Shared/_LayoutAdminCT.cshtml";
}
@using (Html.BeginForm("TaoCTHDOff", "GioHang", FormMethod.Post))
{
    <div class="form-group" style="margin-top:15px;margin-bottom:15px;">

        <div class="col-md-10" style="margin-top:15px;margin-bottom:15px;">

            @Html.DropDownListFor(x => x.maKho, new[]
  {
      new SelectListItem(){Text="Sư Vạn Hạnh",Value="1"},
      new SelectListItem(){Text="Nguyễn Đình Chiểu",Value="2"},
       new SelectListItem(){Text="Xô Viết Nghệ Tĩnh",Value="3"},

  })

        </div>
    </div>
    <input type="submit" name="name" value="Lưu" class="btn btn-secondary" style="margin-top:15px;margin-left:15px;"/>
}
@{ Html.RenderAction("PartialGioHang", "GioHang");}


