

@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>ThongKe</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <input type="month" name="Thang" id="Thang" value="" />
    <input type="submit" name="name" value="Tìm" />

}
<table border="1px solid">
    <tr>
        <th>Tổng thu</th>
        <th>
            Tổng chi
        </th>
    </tr>
    <tr>
        <td>
            @ViewBag.tongmua
        </td>
        <td>
            @ViewBag.tongnhap
        </td>
    </tr>
</table>




