@model IEnumerable<ShopBanHang.Models.HDOnline>

@{
    ViewBag.Title = "QLDonHangOnline";
    Layout = "~/Views/Shared/_LayoutAdminCT.cshtml";
}

<div style="width:70%;">
    <table class="table">
        <tr>
            <th>
                Ngày đặt
            </th>
            <th>
                Ngày giao
            </th>
            <th>
                Tình trạng
            </th>
            <th>
                Tên khách hàng
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayGiao)
                </td>
                <td>
                    @if (item.TinhTrang == false)
                    {
                        <input type="checkbox" name="name" value="false" disabled="disabled" />
                    }
                    else
                    {
                        <input type="checkbox" name="name" value="true" checked="checked" disabled="disabled" />
                    }
                    @*@Html.DisplayFor(modelItem => item.TinhTrang)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.tenKH)
                </td>
                <td>

                    @Html.ActionLink("Details", "XemChiTietDonHang", new { mahd = item.MaHD })

                </td>
            </tr>
        }

    </table>
</div>

