@model IEnumerable<ShopBanHang.Models.CTHDOnline>


<table class="table">
        <tr>
            <th>
                Số lượng
            </th>
            <th>
                Gía bán
            </th>
            <th>
                Thành tiền
            </th>
            <th>
                Tổng tiền
            </th>


        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thanhTien)
        </td>
        <td>
            
        </td>
       


    </tr>



    }


    </table>



