@model IEnumerable<ShopBanHang.Models.CTHDOnline>


<table class="table">
    <tr>
        <th>
            Số Lượng
        </th>
        <th>
            Gía Bán
        </th>
        <th>
           Thành Tiền
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thanhTien)
            </td>
            <td>
            </td>


        </tr>
    }
    <tr>
        <td>Tổng tiền</td>
        <td></td>
        <td>@ViewBag.tongtien</td>
    </tr>
</table>
