@model IEnumerable<ShopBanHang.Models.CTHDOff>


<table class="table">
    <tr>
        <th>
            Số lượng
        </th>
        <th>
            Gía bán
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thanhTien)
        </td>
    </tr>
}

</table>
