@model IEnumerable<ShopBanHang.Models.SanPham>


<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Hãng
        </th>
        <th>
            Loại sản phẩm
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hang.tenHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loai.TenLoaiSP)
        </td>
      
    </tr>
}

</table>
