@model ShopBanHang.Models.SanPham

@{
    ViewBag.Title = "xemChiTiet";
    Layout = "~/Views/Shared/_LayoutAdminCT.cshtml";
}

<div class="ctsp">
    <div style="margin-top:20px;margin-bottom:20px;margin-left:20px;">
        <h2 style="color:orange">Xem chi tiết sản phẩm : @Model.tenSP</h2>
        <div style="margin-bottom:30px;margin-top:20px"><img src="~/Assit/img/@Model.anh" alt="Alternate Text" /></div>

        <p style="font-size:20px;color:orangered;">Tên sản phẩm: @Model.tenSP</p>
        <p style="font-size:20px;color:palevioletred;">Giá:@String.Format("{0:0,0}", Model.giaSP) VNĐ </p>
        <div style="width: 85%;border: 0.5px solid #d3cdcd;padding-left:10px;padding-top:10px;">@Model.MoTa</div>
        <div style="margin-top:15px;">
            @using (Html.BeginForm("Edit", "QuanLy", new { @masp = Model.maSP, @url = Request.Url.ToString() }))
            {
                <input type="submit" class="btn btn-primary" name="name" value="Edit Product" />}
        </div>
    </div>
</div>

<style>
    .ctsp {
        width: 70%;
        height: auto;
        border: 0.5px solid #d3cdcd;
    }
</style>


