@model ShopBanHang.Models.SanPham

@{
    ViewBag.Title = "xemChiTiet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>xemChiTiet</h2>
<div><img src="~/Assit/img/@Model.anh" alt="Alternate Text" /></div>

<div>Tên sản phẩm: @Model.tenSP</div>
<div>Giá:@String.Format("{0:0,0}", Model.giaSP) VNĐ </div>
<div>@Model.MoTa</div>



