
@{
    ViewBag.Title = "XemCTHDTG";
    Layout = "~/Views/Shared/_LayoutAdminCT.cshtml";
}

@{ Html.RenderAction("viewKhachTG", "QuanLy");}
@{ Html.RenderAction("viewSPTG", "QuanLy");}

@{ Html.RenderAction("viewHDTG", "QuanLy");}

@{ Html.RenderAction("viewCTHDTG", "QuanLy");}
<a href="@Url.Action("TaoPhieuTraGop","QuanLy")">Phiếu trả góp</a>
