@model IEnumerable<ShopBanHang.Models.SanPham>

@{
    ViewBag.Title = "HuaweiWatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HuaweiWatch</h2>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-3">
            <img src="~/Assit/img/@Html.DisplayFor(modelItem=>item.anh)" alt="Alternate Text" style="width:270px;height:250px;" />
            <div style="text-align:center;margin-bottom:10px;">
                @Html.DisplayFor(modelItem => item.tenSP)
                <br />
                @Html.DisplayFor(modelItem => item.giaSP)
                <br />
                <button class="btn btn-primary"><a href="@Url.Action("xemChiTiet","SanPham",new { @masp=item.maSP})" style="color:white">Xem chi tiết</a></button>
            </div>

        </div>

    }
</div>
